version: '3.3'

services:
  alist:
    image: 'xhofe/alist:latest'
    container_name: alist
    volumes:
      - "/etc/alist:/opt/alist/data"
      - "/home/admin/stream/download:/home/admin/stream/download"
    ports:
      - "5244:5244"
    environment:
      - PUID=0
      - PGID=0
      - UMASK=022
    restart: unless-stopped
    networks:
      - stream-docker

  #  stream-ocr:
  #    image: stream-ocr:latest
  #    container_name: stream-ocr
  #    volumes:
  #      - /home/admin/stream/download:/home/admin/stream/download
  #    ports:
  #      - "5000:5000"
  #    restart: "no"
  #    networks:
  #      - stream-docker

  stream-move:
    image: stream-move:latest
    container_name: stream-move
    privileged: true
    tty: true
    volumes:
      - /home/admin/stream/download:/home/admin/stream/download
      - /home/admin/stream/logs:/home/admin/stream/logs
      - /home/admin/stream/config:/home/admin/stream/config
      - /home/admin/stream/dump:/home/admin/stream/dump
      - /home/admin/stream/account:/home/admin/stream/account
      - /home/admin/stream/thumbnail:/home/admin/stream/thumbnail
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - stream-docker

networks:
  stream-docker:
    external: false