<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sh.config.mapper.StreamerMapper">
    <!-- 定义 resultMap -->
    <resultMap id="StreamerResultMap" type="com.sh.config.model.dao.StreamerDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="name" property="name"/>
        <result column="room_url" property="roomUrl"/>
        <result column="record_type" property="recordType"/>
        <result column="last_record_time" property="lastRecordTime"/>
        <result column="expire_time" property="expireTime"/>
        <result column="last_vod_cnt" property="lastVodCnt"/>
        <result column="max_merge_size" property="maxMergeSize"/>
        <result column="cur_traffic_gb" property="curTrafficGB"/>
        <result column="max_traffic_gb" property="maxTrafficGB"/>
        <result column="template_title" property="templateTitle"/>
        <result column="cover_path" property="coverPath"/>
        <result column="desc" property="desc"/>
        <result column="upload_platforms" property="uploadPlatforms"/>
        <result column="process_plugins" property="processPlugins"/>
        <result column="tags" property="tags"/>
        <result column="env" property="env"/>
        <result column="extra" property="extra"/>
    </resultMap>

    <!-- 定义 SQL 片段 -->
    <sql id="allFields">
        `id`,
        `gmt_create`,
        `gmt_modified`,
        `name`,
        `room_url`,
        `record_type`,
        `last_record_time`,
        `expire_time`,
        `last_vod_cnt`,
        `max_merge_size`,
        `cur_traffic_gb`,
        `max_traffic_gb`,
        `template_title`,
        `cover_path`,
        `desc`,
        `upload_platforms`,
        `process_plugins`,
        `tags`,
        `env`,
        `extra`
    </sql>

    <select id="selectByName" resultMap="StreamerResultMap">
        SELECT
        <include refid="allFields"/>
        FROM `streamer`
        WHERE `name` = #{name}
    </select>

    <select id="batchSelectByEnv" resultMap="StreamerResultMap">
        SELECT
        <include refid="allFields"/>
        FROM
        `streamer`
        WHERE env = #{env}
    </select>

    <update id="updateLastRecordTime">
        UPDATE `streamer`
        SET `last_record_time` = #{lastRecordTime}
        WHERE `name` = #{name}
    </update>

    <update id="updateTrafficGB">
        UPDATE `streamer`
        SET `cur_traffic_gb` = #{trafficBG}
        WHERE `name` = #{name}
    </update>

    <delete id="deleteByName">
        DELETE
        FROM `streamer`
        WHERE `name` = #{name}
    </delete>
</mapper>
